.card {
  padding: 16px;
  /* width: 450px;
  height: 500px; */
  transition: all 0.5s ease;
  position: relative;
  cursor: pointer;
  max-width: 100%;
}
.productImg {
  height: 358px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  background: #ffffff;
  width: 100%;
}
.productOutofStock {
  opacity: 0.2;
  background: #fff;
}
.imgWrapper:hover .svgWrapper {
  transform: translateY(-17px);
  transition: all 0.5s ease;
  visibility: visible;
}
.card:hover {
  background: #e4e3e3;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.svgWrapper {
  background: #5ece7b;
  color: #ffffff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  transition: all 0.5s ease;
  visibility: hidden;
}

.imgWrapper {
  position: relative;
  transition: all 0.5s ease;
}

.cardFooter {
  margin-top: 0.2rem;
  padding-top: 0.5rem;
  color: #1d1f22;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 160%;
}
.price {
  padding-top: 0.5rem;
  color: #1d1f22;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
}
/* .outofStock {
  width: 590px;
} */

.outofStock::before {
  content: 'OUT OF STOCK ';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  background: #fff;
  opacity: 0.5;
  color: #8d8f9a;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}
.greyText {
  color: #8d8f9a;
}
/* mini modal */

.miniModal {
  background: rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 600px;
}
