.modalWrapper {
  height: 100vh;
  background: rgba(57, 55, 72, 0.22);
  position: fixed;
  top: 6.5rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 90;
}
.inner {
  background: #fff;
  width: 55%;
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  margin-bottom: 7rem;
}
.img {
  width: 100%;
  object-fit: cover;
}
.imgCovered {
  margin-right: 1rem;
}
.brand {
  font-size: 2rem;
  margin-bottom: 10px;
}
.name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.SizeColorBtn {
  padding: 10px;
  cursor: pointer;
  margin-right: 7px;
  font-size: 1.5rem;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #1d1f22;
  height: 70px;
  width: 70px;
}
.SizeColorXtra {
  background-color: var(--blk);
  color: #fff;
}
.ColorXtra {
  background-color: var(--blk);
  color: #fff;
  border: 3px solid var(--green);
}

/*  */
.touchCover {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.touchBtn {
  padding: 15px;
  cursor: pointer;
  margin-right: 7px;
  font-size: 1.5rem;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #1d1f22;
}
.touchXtra {
  background-color: var(--blk);
  color: #fff;
}

.price {
  margin-bottom: 5px;
  font-size: 1.5rem;
  margin-top: 12px;
}
.symbol {
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: var(--blk);
}
.addToCartBtn {
  border: none;
  padding: 0.9rem;
  color: #fff;
  background: var(--green);
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 12px;
  margin-top: 12px;
  font-weight: bold;
}
.desc {
  font-size: 1.6rem;
  margin-top: 10px;
}

/* flexleft */
.flexLeft {
  flex: 1;
}

/* flexcenter */
.flexCenter {
  flex: 4;
  padding-left: 30px;
  margin-left: 20px;
}
/* flexRight */
.flexRight {
  flex: 3;
  padding-left: 30px;
  margin-left: 20px;
}
