.header {
  margin-bottom: 3rem;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  bottom: 10;
  background-color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 1200px;
  margin: 0 auto;
}
.logo {
  position: relative;
}
.curve {
  position: absolute;
  top: 15px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.arrow {
  position: absolute;
  top: 8px;
  right: 18%;
}

.navLeft {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.navRight {
  width: 15vw;

  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* NAV RIGHT STYLES */
.dropdown {
  min-width: 2em;
  position: relative;
}
.select {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.caret {
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
  margin-top: 3px;
}

.caret-rotate {
  transform: rotate(180deg);
}
.menu {
  list-style: none;
  background: #fff;
  position: absolute;
  top: 3rem;
  left: -80%;

  /* transform: translateX(-100%); */
  opacity: 0;
  display: none;
  transition: 0.2s;

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.menu li {
  /* padding: 0.7em 0.7em; */
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  cursor: pointer;
}
.menu li:hover {
  background: #eeeeee;
}

/* MINICART OVERLAY */
.overlay {
  width: 100vw;
  position: fixed;
  /* position: absolute; */
  right: 0;
  top: 12vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: flex-end;
  z-index: 50;
}

.badge {
  position: absolute;
  right: -12px;
  top: -17px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  border-radius: 50%;

  background: black;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
}

/* MiniCartBox */
.cardBox {
  width: 22vw;
  background: #fff;
  height: 400px;
  margin-right: 30px;

  z-index: 50;
}

/* MiniCart */
.minicart {
  height: 250px;
  overflow-y: auto;
  padding: 10px;

  background: #fff;
}
.minicart::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.minicart::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}
.minicart::-webkit-scrollbar-thumb {
  background: rgb(121, 121, 121);
}

.cartItems {
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  z-index: 30;
}

.cardright {
  width: 50%;
}
.cardleft {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
