:root {
  --green: #5ece7b;
  --off: #a3a3a3;
  --offW: #eeeeee;
  --blk: #1d1f22;
}
body,
html,
#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.menu-open {
  display: block !important;
  opacity: 1;
}

.caret-rotate {
  transform: rotate(180deg);
}

/* //javascript styles on clicked */
.select-clicked {
  border: 1px #26489a solid;
}
.active {
  visibility: visible !important;
}

#menu {
  /* display: block; */
  visibility: hidden;
}
/* .open {
  visibility: visible !important;
} */
.quickAdd {
  visibility: visible !important;
}
