.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  gap: 1;
  width: 100%;
  margin-top: 2rem;
}

.thumbnail {
  transition: all 0.5s ease;
  margin: 5px;
}
.thumbnail img {
  transition: all 0.5s ease;
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.thumbnail:hover img {
  transform: scale(1.05);
  cursor: pointer;
}

.bigImg {
  width: 100%;
  object-fit: cover;
}

.brand {
  margin-bottom: 10px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;

  color: #1d1f22;
}
.name1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
}
.name {
  /* font-size: 1.5rem; */
  margin-bottom: 10px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  align-items: center;

  color: #1d1f22;
}

.SizeBtn {
  padding: 10px;
  cursor: pointer;
  margin-right: 7px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #1d1f22;
  height: 45px;
  width: 63px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #292929;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.ColorBtn {
  width: 36px;
  height: 36px;
  margin-right: 7px;
  border: 1px solid #5ece7b;
  cursor: pointer;
}
.SizeColorXtra {
  background-color: var(--blk);
  color: #fff;
}
.ColorXtra {
  background-color: var(--blk);
  color: #fff;
  border: 3px solid var(--green);
}

/*  */
.touchCover {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.touchBtn {
  padding: 15px;
  cursor: pointer;
  margin-right: 7px;
  /* font-size: 1.5rem; */
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #1d1f22;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.touchXtra {
  background-color: var(--blk);
  color: #fff;
}

.price {
  margin-bottom: 5px;
  font-size: 1.5rem;
  margin-top: 12px;
}
.symbol {
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: var(--blk);
}
.addToCartBtn {
  border: none;
  padding: 0.9rem;
  color: #fff;
  background: var(--green);
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 12px;
  margin-top: 12px;
  font-weight: bold;
}
.desc {
  font-size: 1.6rem;
  margin-top: 10px;
}

/* flexleft */
.flexLeft {
  flex: 1;
}

/* flexcenter */
.flexCenter {
  flex: 4;
  padding-left: 30px;
  margin-left: 20px;
}
/* flexRight */
.flexRight {
  flex: 3;
  padding-left: 30px;
  margin-left: 20px;
}
